OL2_OPENID=
OL2_ACCESS_TOKEN=
OL2_SIGN=
OL2_NONSE_STR=
OL2_BASE_URL=https://nba2k2app.game.qq.com/game/trade/rosterList

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=

WX_APP_ID=
WX_APP_SECRET=